.App {
  text-align: center;
  color: white;
  box-shadow: 20px 20px 50px black;
  background-color: #828fee;
  padding: 20px;
  border-radius: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
